@import "tailwindcss";

.button {
  display: flex;
  border-radius: 8px;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.6em 0.5em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
}

.button:hover {
  border-color: #646cff;
}

.active {
  background-color: rgb(153, 100, 109);
  color: #f0f0f0;
}

.inactive {
  color: #f0f0f0;
}
