@import "tailwindcss";

.button {
  background-color: rgb(122, 126, 202);
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.5em 0.5em;
  font-size: 1.1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.50s;
}

.button:hover {
  border-color: #d717ae;
}

.button:focus,
.button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
